@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-neutral-800 font-semibold text-white;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 2px;
}
